[2019-01-14 15:34] chuckatkins opened #4 "Can't build with PGI because of `restrict` keyword"
Currently unable to build with PGI because of API functions named `restrict` which is a reserved C keyword.  Renaming the API functions to something else not conflicting with a reserved keyword allows the build to be successful with PGI.

[2019-01-14 15:45] chuckatkins commented on #4
Note that since this is part of MGARD's public API, it also prevents a downstream consumer to build with MGARD support and PGI.

[2019-01-24 13:56] tugluk commented on #4
Solved with recent commit

[2019-01-24 13:56] #4 closed

[2019-01-25 19:31] jpulidojr opened #5 "Cannot use MGARD as a shared library due to misnamed function"
I'm trying to build a project against MGARD but it contains linker errors for the compressor. I found that there is a function declaration mismatch between mgard_capi.h and mgard_capi.cpp.

.cpp
`extern "C" unsigned char *mgard_compress(int itype_flag,  void  *data, int &out_size, int nrow, int ncol, int nfib, void* tol_in)`

vs

.h
`extern unsigned char *mgard_compress(int itype_flag, void *data,

[2019-08-22 19:40] robertu94 commented on #5
I have fixed this in pull request #7.

[2019-09-06 18:26] ben-e-whitney opened #9 "Smoothness Parameter Ignored in Test Script"
The test script `src/mgard_test.c` does not use the `s` parameter. Two illustrations:

1. The output does not vary with `s`. Try running the following script. It is possible, but very unlikely, that this is due to the data.

[code]

2. As far as I can tell, `s` is used this way:
	1. `main` in `mgard_test.c` passes `s` to `mgard_compress`.
	2. `mgard_compress` passes `s` to `mgard::refactor_qz`.
	3

[2019-09-09 08:31] tugluk commented on #9
Currently MGARD defaults to  L^∞ compression. This will be changed in the "release" due in 3 weeks. I will check the unmet tolerance for the given data.

Thanks for the informative bug report.

[2019-09-09 08:31] #9 closed

[2019-09-09 09:05] tugluk commented on #9
Unmet tolerance issue is corrected, the compression was being performed using absolute tolerances. Many thanks.

[2019-09-30 16:58] #5 closed

[2019-10-01 20:06] robertu94 opened #10 "MGARD does not respect GNUInstallDirs"
The MGRAD package does not respect GNUInstallDirs configuration for the system.  Please use [GNUInstallDirs](https://cmake.org/cmake/help/v3.1/module/GNUInstallDirs.html) to get the installation directories in CMake so that it is installed in a consistent way across distributions.

[2019-10-02 16:00] tugluk commented on #10
Our ADIOS2 integration team will look into this, they will probably implement it if there are no conflicts.

[2019-10-02 17:22] robertu94 opened #11 "Additional Documentation Required"
The documentation for several overloads of the mgrad_compress function for MGARD are insufficient:

+ for example, `qoi` is documented as the "Function pointer to the quantity of interest" which is self-evident from the type signature of the function.  There is some additional information in the header "which is a bounded linear functional in s-norm", but this doesn't describe how to use this para

[2019-10-02 19:17] robertu94 opened #12 "please provide version macros, and update them with changes"
libpressio needs to be able to access version information about what version of mgard it was compiled with so it can call the right functions in the mgard plugin, but there is no version information exposed in the public API at compile time (i.e. as a version macro or function).  This is needed to switch between implementations of the API depending on what is installed.

Additionally, the last maj

[2019-10-02 19:22] robertu94 opened #13 "How are overloads 4 and 5 of mgard compress intended to be used?"
Overloads 4 and 5 of `mgard_compress` have different return types and no outsize parameter compared to the other overloads provided.  The documentation states that the returned value can be used for future datasets, but it doesn't say how.  Could you please elaborate?

Perhaps it should have a different function name since it doesn't do the same thing?

[2019-10-02 20:31] robertu94 commented on #11
Additionally, the `quantizer` variable seems to be unused by the implementation for `mgard_decompress`.

[2019-10-02 21:41] robertu94 opened #14 "Please remove internal print functions"
MGARD prints a number of things out while it is running that can interfere with applications that attempt to scrape the output of a script that uses mgrad, would it be possible to remove them, or at least disable them at compile time?

[2019-10-02 21:55] robertu94 opened #15 "MGARD segfaults on some inputs"
MGRAD segfaults on the some inputs,  I ran with: [the dataset generated from this function](https://github.com/CODARcode/libpressio/blob/master/test/make_input_data.cc), a tolerance of 0.5, and a s of 1.0 using the double api and I get a segfault.

Other inputs (i.e. tolerance of .5 and s of 8.0; as well as tolerance of .5 and default s) seem to work, but are very slow (10x SZ, and 5x ZFP) and hav

[2019-10-03 17:10] tugluk commented on #15
A tolerance of 0.5 means %50 error so poor PSNR, MSE is as expected.  If you can provide the data set we will try to replicate the issue

[2019-10-03 17:14] tugluk commented on #13
These routines  compute the  s-norm of a quantity of interest.  If the user wishes to reuse the qoi, the can be passed to 6 as norm_of_qoi

[2019-10-03 17:14] #13 closed

[2019-10-03 17:16] tugluk commented on #14
We must have fixed this yesterday.

[2019-10-03 17:16] #14 closed

[2019-10-03 17:18] tugluk commented on #12
Our productization team will look ito this

[2019-10-03 17:34] tugluk commented on #15
Ran the user included code (please provide datafile next time if possible), cannot replicate segfault through the supplied example binary.

[2019-10-03 17:49] tugluk commented on #11
Correct, it is a dummy argument. In future versions it will be used to return the quantizer used during compression.

norm_of_qoi is the s-norm of the quantity of interest the user wishes to use. Computable through mgard_compress 4/4a.

coords_{x,y,z} are the {x, y, z} coordinates of the underlying tensor product grid. Will add this to the documentation

[2019-10-03 17:49] #11 closed

[2019-10-03 21:08] robertu94 commented on #15
This is part of the libpressio test_case (specifically the "full" integration test).  MGARD is configured [here](https://github.com/robertu94/libpressio/blob/c9f5d64ad836d5a8709e0d239cb3b93b2cfc3dd3/test/full.c#L183).

The ultimate calls for compression appear in the [mgard plugin on lines 151-227](https://github.com/robertu94/libpressio/blob/c9f5d64ad836d5a8709e0d239cb3b93b2cfc3dd3/src/plugins/co

[2019-10-07 12:21] tugluk commented on #15
This is curious, as the parameter "s" is not used until very late in the code and there should absolutely be no difference between different values. We are assuming somehow a double method is triggered on float data. Can the user provide info on whether the segfault is in compression or decompression?

[2019-10-07 18:38] NAThompson opened #16 "Segfault in mgard_test"
If you edit the `makefile` so that it has the following additions:

[code]

and then run `mgard_test`, you get a segfault at `mgard_test.cpp`, line 203:

[code]

[2019-10-08 15:15] tugluk commented on #16
Thanks for the report, we are working on this...

[2019-10-08 15:20] NAThompson commented on #16
@tugluk : It's just reading argv[1] when no argument is present. It just needs:

[code]

for whatever argument count is required and whatever those arguments mean.

[2019-10-08 15:22] tugluk commented on #16
Ah, data type was late addition, we forgot to check if it was specified. Will add it, even though I would prefer a segfault.

[2019-10-08 15:30] tugluk commented on #16
Added check, funnily  8.3.0 wasn't segfaulting like clang even with sanitizer flags.

[2019-10-08 15:30] #16 closed

[2019-10-08 15:39] tugluk commented on #16
Hmm, seems to work for me. Which test is this? We have 3.

On Tue, Oct 8, 2019 at 11:31 AM Nick <notifications@github.com> wrote:

[2019-10-08 15:40] NAThompson commented on #16
This is just the one that gets built into the home directory; `mgard_test`.

[2019-10-09 13:42] robertu94 commented on #15
@tugluk I've tried this, and we are correctly dispatching to the float version of the method for both the float and double case.  There are a few different segfaults, but the one that I can reproduce right now is: After compression, the pointer returned points to invalid memory, i.e. it segfaults in `memcpy` in the following code sample

[code]

[2019-10-23 19:44] NAThompson opened #24 "License in source code is incompatible with the Apache license"
The license in the source code states:

[code]

These terms are incompatible with the terms of the Apache license, and need to be removed.

[2019-10-25 13:06] NAThompson commented on #24
Fixed in [25](https://github.com/CODARcode/MGARD/pull/25).

[2019-10-25 13:06] #24 closed

[2019-10-25 15:39] ben-e-whitney opened #26 "Merging Strategy"
1. Currently we're getting a merge commit for each pull request accepted (f81d6488306a335951b7abfeeddbfbeab5ccca77 for f81d6488306a335951b7abfeeddbfbeab5ccca77, f81d6488306a335951b7abfeeddbfbeab5ccca77 for f81d6488306a335951b7abfeeddbfbeab5ccca77, etc.). @qliu21, would you be willing to rebase pull requests instead? [Here's][rebase documentation] some documentation. It seems you can either choose

[2019-10-25 15:43] NAThompson opened #27 "How do I determine how big my compressed data is?"
When I call `mgard_compress` on a vector of length `n`, then I obtain an `unsigned char*`. How do I know how long the data is that the `unsigned char*` points to?

[2019-10-25 15:45] ben-e-whitney commented on #12
Reopening till we've either added the macros or decided against doing so.

[2019-10-25 15:48] ben-e-whitney commented on #10
I don't know enough about CMake to be sure, but my impression is that we haven't fixed this. Reopening till we either have or have decided against doing so. Correct me if I'm wrong!

[2019-10-25 15:57] qliu21 commented on #27
@NAThompson @ben-e-whitney The "int &out_size" argument?

[2019-10-25 16:00] ben-e-whitney commented on #27
The README says the `out_size` parameter tells you that. Is it not getting set? (Incidentally, its type is `int *` in the README but `int &` in the [float][float API] and [double][double API] headers.)

[float API]: https://github.com/CODARcode/MGARD/blob/master/include/mgard_api_float.h
[double API]: https://github.com/CODARcode/MGARD/blob/master/include/mgard_api.h

[2019-10-25 16:11] qliu21 commented on #26
@ben-e-whitney I created a rule for branch "ornl" - you should be able to approve pull requests there.

[2019-10-25 17:24] NAThompson commented on #27
Ok, it looks like by default the pointer is leaked, so we need to document how to destroy the `malloc`'d memory. In addition, it looks like there is no reason for this, since if you look at `mgard.cpp`, line 65:

[code]

So ostensibly we could just return `out_data` as a vector which would obviate the `std::copy` and get rid of the memory leak.

@ben-e-whitney : I've fixed the typo in the `README.

[2019-10-25 17:33] ben-e-whitney commented on #24
@tugluk Do you remember whether the Brown lawyers approved releasing under the Apache license? Hopefully this is fine.

[2019-10-25 17:50] NAThompson commented on #10
At a minimum, writing an `install` target in the `Makefile` would be a welcome improvement. An example of how to write a nice install target is [here](https://github.com/imneme/pcg-cpp/blob/master/Makefile).

I can do this if need be, but there is deeper refactoring I'd like to do before working on this.

[2019-10-25 17:55] robertu94 commented on #10
Respectfully, the suggested Makefile fix is insufficient.  For example, It doesn't account for the presence of lib vs lib64 for the library directory on a given distribution.  Additionally, [libpressio](https://github.com/CODARCode/libpressio) depends on CMake to detect how the MGARD has been installed.

This is not to say that you can't also make a Makefile, but please fix the CMake support and d

[2019-10-25 20:27] qliu21 commented on #27
@NAThompson @ben-e-whitney I did notice some issues with the API (what is the new master right now), especially for decompression. Perhaps let's move this to a new thread - I would like to get this addressed this after SC19 (the end of Nov).

[2019-10-25 20:53] NAThompson commented on #10
@robertu94 : There is no intention to remove CMake support.

[2019-10-28 14:14] NAThompson opened #30 "Quantizer parameter in mgard_decompress is undocumented"
In the `README.md`, the `quantizer` parameter to `mgard_decompress` is not mentioned, and hence the API is not documented correctly. Also, the meaning of the `quantizer` parameter is unclear.

What does the `quantizer` parameter to `mgard_decompress` do?

In `mgard_test.cpp` line 228, the `quantizer` parameter is labelled as `dummy`, and is not used.

[2019-10-28 14:24] NAThompson opened #31 "MGARD compress-decompress is incorrect on some matrix sizes."
Code to reproduce:

[code]

Output:

[code]

We have also tested making a copy of `v`, since the input data is not `const`-quaranteed.

[2019-10-28 14:36] NAThompson opened #32 "Important invariant removed by assert"
If we were allowed to pass a zero tolerance to `mgard_compress`, then a very powerful unit test would be available.

However, this is removed by `mgard_api.cpp`, line 19, which `assert`s that `tol >= 1e-8`.

Is there a fundamental reason for this restriction? Note that if I remove it and set `tol =0`, then all returned data decompresses to zero. Is this expected behavior?

[2019-10-28 15:11] qliu21 commented on #30
I had a conversation with folks from Brown last week. I was told that any doubles/floats can be passed, and the purpose was to allow C++ overloading to work.

I believe the APIs need to re-worked in the near future. Since MGARD is used underneath ADIOS at the moment, I wouldn't suggest we change it now, since there was a change in 0.0.0.2, and there was another change after 0.0.0.2.......

[2019-10-28 15:20] NAThompson commented on #30
Ok, I'll talk with Scott about this. I'd suggest the following design:

[code]

Assuming you and Scott agree that this would be a positive change,  I'll go ahead and get it done.

[2019-10-28 16:06] qliu21 commented on #30
@NAThompson Let's discuss this in the next meeting - I am not sure whether we should have compress_1d or _2d, or we should have a generic overloaded signature.

Is it possible to hold this effort off after SC'19? since there will be an ADIOS tutorial in SC19, and they typically will based off master of adios and master of MGARD. If APIs are changed, then we need to re-integrate with ADIOS.

[2019-10-28 16:24] NAThompson commented on #30
@qliu21 : We can absolutely hold off. In my mind, this is high priority, but [31](https://github.com/CODARcode/MGARD/issues/31) is way higher.

[2019-10-28 16:34] qliu21 commented on #30
@NAThompson Thank you and I agree.

[2019-10-28 16:48] ben-e-whitney commented on #32
It appears that those assertions have been there since [the beginning][early assertion]. Let me not speak for @tugluk, but I'd guess that they're just sanity checks. There isn't any mathematical reason we shouldn't allow a zero `tol`.

I misspoke earlier today – the structured code doesn't use an iterative linear solver, so the decomposition and recomposition routines should be 'exact' inverses. I

[2019-10-28 17:05] ben-e-whitney commented on #31
I can reproduce this on `master` (bc82ad49767e13056fe04163975746e55c1ce00b).

(Side issue: `obj/mgard_test.o` shouldn't be included in `libmgard.a`. First, it's not needed, and second, it contains a `main` function, which causes linking errors. I'll push a fix to `ornl` today.)

Weirdly, it seems that these points are almost, but not quite, in a corner of the array. (Possibly I am messing up my in

[2019-10-28 17:57] ben-e-whitney commented on #31
Not to muddy the waters, but possibly related: running this on `mgard` (5b14862350655a5365b2f36a566f3f89e9dd0470), I get errors in about 40% of the entries of the 215 × 215 array. (There's also one small error in the 9 × 9 array.) I mention this because `mgard` contains 9c55b4d478eccdfcdf5c3f70f7637e59097a7f49, whose commit message

suggests the commit might be relevant here.

`mgard`, containing

[2019-10-28 18:02] NAThompson commented on #31
@ben-e-whitney : I just did `git checkout 9c55b4d` and ran the code above on it. Instead of getting a few errors, I get totally swamped by them.

[2019-10-28 18:44] NAThompson opened #33 "MGARD incorrect on constant data"
This should be easier to debug than the last one:

[code]

Output:

[code]

Note that the same output is obtained on 6fd17c3.

[2019-10-29 17:57] ben-e-whitney opened #34 "Pruning Old Branches"
I think we can clean up the repository by deleting some old branches. The branches:

* `fpic`: Fully merged.
* `mgard`: *Not* fully merged. Contains five commits by @tugluk and @NAThompson not in `master`.
* `mgard3`: *Not* fully merged. Contains two commits by @tugluk not in `master`. As far as I can tell, 21a2f39b2496386163743a47906016affd813b72 should be merged while 01857c3ea316f3d0e3919cd752c

[2019-10-29 23:48] tugluk commented on #31
This is most likely more of a "MGARD incorrect on tight tolerances" thing. There is an obvious but costly fix, I'll look into it.

[2019-10-29 23:48] tugluk commented on #33
This is most likely more of a "MGARD incorrect on tight tolerances" thing. There is an obvious but costly fix, I'll look into it. Quite probably same as #31 .

[2019-10-29 23:55] tugluk commented on #34
@ben-e-whitney : No need to merge anything from mgard3, or qoi. I am working on master so I wouldn't mind if anything else gets nuked :)

[2019-10-30 19:08] NAThompson opened #37 "Storing s in compressed stream?"
When using the `s` parameter overload, if I call `mgard_compress` with `s = 1` (say), and later forget the `s` that I compressed the data with, I cannot decompress it: Calling `mgard_decompress` with an incorrect `s` or without supplying `s` leads to corrupted data.

On the TODO list, we should place the `s` parameter in the `char` stream so that we can decompress without supplying `s`.

[2019-10-30 20:13] NAThompson commented on #31
@tugluk : Strangely, I have determined that the minimal allowed tolerance before the code breaks depends on `s`! So if I increase `s` to (say) 2, then the minimal tolerance is much higher than the minimal tolerance if `s=0`.

It appears that for any `thresh`chosen independently of `s`,  `assert(tol > thresh)` can be broken by an judicious choice of `s`.

[2019-10-30 20:55] tugluk commented on #37
You wouldn't really forget it, but why not, it can be added to the stream.

[2019-10-30 20:58] tugluk commented on #31
Not strange at all, quantization depends on s. It is not clear what you mean by 2, but the `assert` is much earlier so cannot be broken.

[2019-10-30 23:07] NAThompson commented on #31
@tugluk : I have already demonstrated that whatever constant you place into the assert, I can find a value of `s` such that the bug reappears.

[2019-10-31 17:20] ben-e-whitney commented on #32
@tugluk's comments on #31 and #33 made me realize I wasn't considering the quantizer at all. Without digging into the code, here's roughly what I think's going on:

1. The original dataset `u_nc` (nodal values of `u`) is transformed to `u_mc` (multilevel coefficients).
2. The 'importance' of multilevel coefficient `u_mc[x]` is something like `2 ^ sl * u_mc[x]` where `s` is the smoothness parameter

[2019-10-31 17:32] tugluk commented on #32
@ben-e-whitney, this is bang on. This is basically  what I have in the code, L^infinity is a little different but the idea is the same.

Your suggestion is sure to work (obviously) with a loss in compression, using long ints in the quantizer is also an immediate intermediate solution of sorts.

[2019-11-05 17:52] ben-e-whitney commented on #26
@qliu21 I'm having trouble pushing to `ornl`. I know I was able to previously, but now I get the following when attempting to push.

[code]
It's protected again, or maybe it's a CI problem? (Sorry – I've never used CI before.) After thinking about it a bit I'm now leaning towards @NAThompson's idea in #34: just three (persistent) branches, `master`, `develop`, and `experimental` (ideally one of wh

[2019-11-05 18:27] williamfgc commented on #26
we do pull request based merge, basically you push to your fork and then do a pull request on github. It will give your peers a chance to review the changes and run the CI before merging into master (or you preferred main line branch). [Here is our docs](https://github.com/ornladios/ADIOS2/wiki/Submitting-Changes).

[2019-11-06 00:15] NAThompson commented on #26
FWIW I’d suggest only requiring consensus during a merge to master. This helps people get early feedback on their branches and makes sure backups happen often.

[2019-11-07 02:33] williamfgc commented on #26
Yeah, that's just what works for us. I think you guys need to come up and agree with what makes sense for your process flow. Our experience is that it took a few iterations so everyone is used to the process. Cheers!

[2019-11-19 13:09] qliu21 commented on #26
@ben-e-whitney Sorry I have been busy recently and forgot to check the status of this. Are there still any issues with this? Were you able to push to the ornl branch from your own fork?

[2019-11-19 13:12] qliu21 commented on #34
@ben-e-whitney Please can you confirm with the Brown team that fpic and qoi can be deleted? Thank you!

[2019-11-19 20:31] ben-e-whitney commented on #26
Not a problem. No, I still get the same message. That's when I try to push directly to the branch, though. Do I only have permission to instead merge pull requests from a fork? I can just work on my own fork and periodically merge if that's the case.

[2019-11-20 00:48] ben-e-whitney commented on #34
@tugluk says they can be deleted.

[2019-11-20 02:39] qliu21 commented on #34
Thanks!

[2019-11-20 03:04] qliu21 commented on #26
@ben-e-whitney What I did is that other folks must create a pull request, but you should be able to push directly (since I created a rule that you are the exception)....I just further disabled all restrictions on the ornl branch, given that we have a small team and managing the ornl branch should be made easier..:-)

[2019-11-20 23:19] ben-e-whitney commented on #26
Just successfully pushed a bunch of commits. Thanks a bunch.

[2019-11-20 23:19] #26 closed

[2019-11-27 18:53] ben-e-whitney opened #50 "Nearly Duplicated `pi_Ql_first`"
`src/mgard_nuni.cpp` contains two nearly identical implementations of a function called `pi_Ql_first`. As best I can tell, the only real difference is that they're in difference namespaces (`mgard_gen` vs. `mgard_2d::mgard_gen`). They have the same signature and the bodies differ only slightly, as shown by the following.

[code]
(Use `vimdiff` or similar to see the context.) @tugluk, is there a re

[2019-11-27 21:32] ben-e-whitney opened #51 "Templating Codebase"
The `double` and `float` code is almost – but not quite – the same. Try running the following.

[code]
My guess is that the `float` files were initially copies of the `double` files (with `float` changed to `double`) but the changes since have not been totally evenly applied. Is there any reason we can't rewrite everything as templates? If not, I will work on it next week.

[2019-12-03 19:26] ben-e-whitney opened #52 "Scaling Difference Between `float` and `double` Code"
In merging the `float` and `double` code (see #51), I have encountered a few discrepancies in how the error tolerance is rescaled according to the number of levels. Sometimes it is divided by `nlevel + 1`, and sometimes it is divided by `nlevel + 2`. Compare

1. [this][nlevel a one] with [that][nlevel a two],
2. [this][nlevel b one] with [that][nlevel b two], and
3. [this][nlevel c one] with [that

[2019-12-03 19:32] ben-e-whitney commented on #52
The tolerance is also divided by `nlevel + 2` in at least two other places: [here][nlevel extra a] and [here][nlevel extra b]. In the `double` code, there's a note about accounting for the possibility of the original mesh 'above' the finest `2^k + 1` one. Should we then also be dividing by `nlevel + 2` [here][nlevel extra c] and [here][nlevel extra d]?

[nlevel extra a]: https://github.com/CODARco

[2019-12-03 19:35] ben-e-whitney commented on #37
Reopening till we've either added `s` to the stream or decided against doing so.

[2019-12-06 00:07] ben-e-whitney opened #53 "Expected Value of `is_2kplus1(1)`"
I count six places where a function named `is_2kplus1` is defined in the codebase:

* [here][mgard double] in `mgard.cpp`,
* [here][mgard float] in `mgard_float.cpp`,
* [here][nuni double first] and [here][nuni double second] in `mgard_nuni.cpp`, and
* [here][nuni float first] and [here][nuni float second] in `mgard_nuni.cpp`.

[mgard double]: https://github.com/CODARcode/MGARD/blob/97d75d0c61db6e

[2019-12-10 21:48] ben-e-whitney commented on #50
If I understand correctly, the `pi_Ql_first`s differ in which functions they call. For example,

* when [`mgard_gen::pi_Ql_first`][mgard_gen::pi_Ql_first] calls `mgard_common::get_dist`, it gets [`mgard_common::get_dist`][mgard_common::get_dist], which returns `coords[j] - coords[i]`, but
* when [`mgard_2d::mgard_gen::pi_Ql_first`][mgard_2d::mgard_gen::pi_Ql_first] calls `mgard_common::get_dist`,

[2019-12-10 21:48] #50 closed

[2019-12-10 22:07] ben-e-whitney commented on #51
Done in #54.

[2019-12-10 22:07] #51 closed

[2020-02-25 19:26] ben-e-whitney commented on #37
This is a long ways off, but here are some ideas for saving the compression parameters:

1. Include some sort of header in the compressed stream.
2. Output alongside the compressed stream a metadata file; the final output could then be an archive containing both the metadata and the compressed stream.
3. Use some existing self-describing file format (ADIOS' BP format, HDF5, netCDF, etc.).

In addi

[2020-02-25 21:12] ben-e-whitney opened #70 "Inconsistent Meaning of `s` in API"
The meaning of `s` is very confused in `mgard_api.h`. In the overloads without a `qoi` parameter, `s` determines the norm in which the error in the data is to be controlled. See, for examples, [lines 101–107 of `mgard_api.tpp`][`s` first meaning] (copied below).

[code]

In the overloads *with* a `qoi` parameter, though, the error is controlled in the `-s` norm. See, for example, [lines 150–155 of

[2020-02-25 21:51] NAThompson commented on #37
I would suggest 1. In fact, should mgard have it's own file format?

[2020-02-26 20:09] tugluk commented on #70
That indeed is more or less the way I was  thinking.   Without  `qoi`, we are preserving the error in the data in  `s` norm; with  `qoi` we are preserving the error in the functional in  `s` norm.  So I kept the signs the same.

But if you think we should be consistently computing the  `s` norm of the data, we can swap the signs.

You are correct, we should be dividing, I'm checking this.

[2020-03-02 19:37] ben-e-whitney opened #73 "Purpose of `get_lindex`"
This came up in a discussion with @qliu21 and I'm hoping @tugluk will be able to help.

`get_lindex` has the following definition (as of [54ce49e][definition]).

[code]

I am trying to understand why the ratio is `(no - 2) / (n - 2)` instead of `(no - 1) / (n - 1)`. My understanding is that `get_lindex` takes the index of a node in a mesh with `n` nodes and returns the index of a corresponding nod

[2020-03-02 22:15] tugluk commented on #73
Using 1 instead of 2 works of course, I have to check my notes to see why I
went with 2 .

Your understanding is correct, however the case  n = 3 and no = 101 will
not occur, because n is defined as  2^( floor( log2(no - 1) ) ) + 1  (i.e
closest 2^(k+1) int less than no).

In your example if no=101, n=65, so node 1 is mapped to 1.

I'll try to be clearer tomorrow morning.

On Mon, Mar 2, 2020 at 2

[2020-03-03 21:12] ben-e-whitney opened #74 "Unused Parameters in `qoi_norm` Subroutines"
[60ef1e4][commit] pulls the `qoi_norm` functions into a separate file. (For posterity, since I may rebase the branch, changing the commit hash, this is my commit dated 2020-03-03T14:31:36-05:00.) Compiling reveals a number of unused parameters and variables. Put the following

[code]

into a file `unused.cpp` in the root of the repository and compile like so.

[code]

I imagine that the unused var

[2020-03-03 21:35] tugluk commented on #74
Yes, the data should be copied to the work array, v* probably is a
leftover. Will check to be sure, thanks.

On Tue, Mar 3, 2020 at 4:12 PM ben-e-whitney <notifications@github.com>
wrote:

[2020-03-05 21:37] ben-e-whitney commented on #73
For a example with more realistic numbers, take `n = 5` and `no = 6`. If `i = 3`, ratio `(no - 2) / (n - 2)` gives index `3` while ratio `(no - 1) / (n - 1)` gives (assuming exact arithmetic) index `4`. You can get more examples using this script:

[code]

What exactly is this function used for? My impression is that it's used when interpolating a function to a '`2^k + 1`' grid, but then I don't g

[2020-03-05 23:52] tugluk commented on #73
Oh shoot, this would be more helpful maybe:

level   physical index     logical index
3        0, 1, 2, 3, 4, 5
2        0, 1, 2, 4, 5          0, 1, 2, 3, 4
1        0, 2, 5                  0, 2, 4
0        0, 5                      0, 4

On Thu, Mar 5, 2020 at 6:46 PM ozan tugluk <ozantugluk@gmail.com> wrote:

[2020-03-10 18:36] ben-e-whitney commented on #31
There are fewer (but not zero) errors when the dimensions are restricted to the form `2^k + 1`. I suggest starting with that case when this is debugged, since it should involve less code.

[2020-03-10 18:57] ben-e-whitney commented on #33
As of 43986dc187259f4f3c03c81ef2ae2ffc52d4ded8, there are no errors when `rows` and `cols` are of the form `2^k + 1` (only certain `k` tested, of course). I suggest starting with that case when this is debugged, since it should involve less code.

[2020-03-26 16:46] ben-e-whitney commented on #34
@qliu21, @tugluk [says above][mgard3 comment] we can delete `mgard3`. I suggest we also delete `vanilla`, as so many changes to the code have been made that I don't think it'd be reasonable to ask Brown to fix any issues found dating back to that point.

Finally, there is `mgard`. It contains five commits not in `master`:

[code]

Chronologically:

1. c1e06c3f997a00c25165d7e8046afa098ee25202 has b

[2020-04-14 23:46] ben-e-whitney opened #79 "Scaling Difference Between Mass Matrix and Inverse"
The 1D mass matrix on a uniform grid has diagonal `h / 6 * (2, 4, …, 4, 2)` and sub- and superdiagonal `h  / 6 * (1, …, 1)`. [`mass_matrix_multiply`][mass_matrix_multiply] uses scaling `h = 3`, while [`solve_tridiag_M`][solve_tridiag_M] uses scaling `h = 6`. This can be seen by compiling and executing the script below with the following commands.

[code]
@tugluk, is there some reason for this, or

[2020-04-16 13:11] tugluk commented on #79
Good point, the solver was intended to be used in the projection, the
factor of 2 in the scaling takes care of the change in h between levels. It
might be better to move the factor of 2 outside the solver, I agree.

On Tue, Apr 14, 2020 at 7:46 PM ben-e-whitney <notifications@github.com>
wrote:

[2020-04-16 17:37] ben-e-whitney commented on #79
Ah, yes, I see. The scaling lets the following compute the projection.

[code]

I will either add a note explaining it or rescale in the functions. Thanks.

[2020-04-16 17:37] #79 closed

[2020-04-16 18:06] tugluk commented on #79
Thank you, for bringing this up! I'm sure it will be beneficial to
make a note so people won't be confused.

On Thu, Apr 16, 2020 at 1:38 PM ben-e-whitney <notifications@github.com> wrote:

[2020-04-21 21:34] ben-e-whitney opened #80 "Purpose of Batching in `pi_Ql`"
`pi_Ql` interpolates function values at 'old' nodes, subtracting the results from the values at the 'new' nodes in between. For the 'innermost' 'new' nodes, [it does this in batches][batches]. @tugluk, is there a reason for this? It causes a bug when the grid is very small, as can be seen by compiling and executing the script below with the following commands (the central entry should be set to `0

[2020-04-21 22:41] tugluk commented on #80
I remember doing this because this was the way I differentiated
between 'old' and 'new' nodes. This wouldn't work on 3x3 grid,  you're
right.

On Tue, Apr 21, 2020 at 5:34 PM ben-e-whitney <notifications@github.com>
wrote:

[2020-04-23 16:03] ben-e-whitney commented on #80
This is fixed in [77f87be][commit] (my commit dated 2020-04-23T11:55:50-04:00).

[commit]: https://github.com/CODARcode/MGARD/commit/77f87be146d5cd491da9f01febc32364eaa1ae7a

[2020-04-23 16:03] #80 closed

[2020-04-27 15:06] qliu21 commented on #12
Fixed. The mgard installation should contain MGARDConfig.h in include for version number.

[2020-04-27 15:06] #12 closed

[2020-04-27 16:39] qliu21 commented on #10
@robertu94 sorry for being late to fix this. Please can you be more specific which directories are incorrectly set for GNUInstallDirs? I will work on fixing them.

[2020-04-27 17:05] robertu94 commented on #10
@qliu21 The key issue is that you don't use the GNUInstallDirs cmake module which means that your library gets installed in non-default locations.  When linux distributions package cmake, they modify the GNUInstallDirs file to set the preferred paths for their distributions, and you don't ever check them.  The way you do it also breaks the way that GNUInstallDirs changes for certain values of "CMA

[2020-04-27 17:11] qliu21 commented on #10
@robertu94 I will look into this and thank for providing more info.

Just so you know. "I" didn't do the current cmake in MGARD but I would be happy to fix this, if I can reproduce the errors you mentioned.

[2020-04-27 17:16] robertu94 commented on #10
@qliu21 I apologize, I didn't mean for that to be taken as you personally.  I meant you as the plural you referring to the MGARD maintainers or whoever wrote the code.  I do however, thank you personally looking into this.

  A good example of an incompatibility is Gentoo (and I think Fedora) as well which use `/usr/lib64` instead of `/usr/lib`.

[2020-04-28 12:04] qliu21 commented on #10
I tested Fedora and it should work now for default locations. Couldn't test those duplicated CMake lines but by looking at the document you sent, it makes sense to me. @robertu94 thank you very much for the detailed the info.

[2020-04-28 12:04] #10 closed

[2020-04-28 14:39] qliu21 commented on #34
@ben-e-whitney  I am going through the github issues and wanted to address them as much as I can to get ready for the next release.

I am going to delete "mgard", "mgard3", "vanilla" branch, if there is no problem, and close this.

[2020-04-28 15:50] ben-e-whitney commented on #53
I move `is_2kplus1` to a member function of `Dimensions2kPlus1` returning `true` for `1` in a90476aaa2c7e6c440047298090db8126d75a928 (my commit dated 2020-04-28T11:47:20-04:00).

[2020-04-28 15:50] #53 closed

[2020-04-28 17:14] qliu21 commented on #34
Let me delete "mgard3" and "vanilla", which are confirmed. I am closing this.

[2020-04-28 17:14] #34 closed

[2020-04-28 19:14] ben-e-whitney commented on #73
OK, so if `no = 6` and `n = 5` then the ratio `(no - 2) / (n - 2)` gives the subset `{0, 1, 2, 4, 5}` and the ratio `(no - 1) / (n - 1)` gives the subset `{0, 1, 2, 3, 5}`. Did you ever find your notes? I am trying to document this function and would like to explain why it generates the specific subset it does.

[2020-04-30 14:40] qliu21 commented on #34
Also deleting "mgard".

[2020-06-02 18:55] robertu94 opened #84 "Support passing user-specified data to qoi metrics in a flexible way"
Would it be possible to get a void* parameter added to the qoi function pointer argument to mgard_compress as well a void* parameter to the mgard_compress to allow the user to pass some stack/heap allocated reference data rather than statically to be used when computing the quality of interest? This would be helpful in integrating metrics from Z-checker/LibPressio.

the proposed new signature woul

[2020-06-04 17:41] ben-e-whitney commented on #84
I am in favor of this, but we need to think a bit about how we want to do it.

One option: do this without adding another `mgard_compress` overload. Separately calculate the norm of the QoI using [these functions][QoI norm functions] and have all the QoI compression calls go through [this function][compression using QoI norm]:

[code]

(Separate issue: as long as we're templating on the datatype,

[2020-06-09 18:36] ben-e-whitney opened #85 "Decompressed Data Size Depends On Dimensions Given"
This code is run on 7310894a558083dc6caea2deb74be869427a7f6e.

When we use `bin/mgard_test` to compress `data/u3_513x513_orig` using dimensions 513 × 513 × 1, the decompressed files have the same size as the original file, as expected.

[code]

This is not the case when we use dimensions 1 × 513 × 513 instead. Nothing is even written out when `s = 0`.

[code]

[2020-06-11 16:17] ben-e-whitney commented on #85
This is fixed in 653f40b653f4a67a4b2fd6ac081236c6c195f746. I'll keep the issue open till it's fixed in [`master`][master].

[master]: https://github.com/CODARcode/MGARD/tree/master

[2020-07-07 20:55] robertu94 commented on #84
@ben-e-whitney is there any update on this?

[2020-07-23 18:40] ben-e-whitney commented on #84
@robertu94 Apologies for the delay, and thank you for the reminder.

If the QoI function changed, yes, we'd have to recompute the norm. If the `void *` data changed, that'd count as the QoI changing, so we'd again recompute. If the data you're *compressing* changed, though, there'd be no need to recompute. Nor would we need to recompute if the error tolerance changed. If the smoothness parameter (

[2020-07-23 20:05] robertu94 commented on #84
@ben-e-whitney that would work for me!

[2020-08-03 01:07] robertu94 commented on #84
@ben-e-whitney ping

[2020-08-04 14:20] ben-e-whitney commented on #84
@qliu21, does this look OK to you?

@robertu94, thank you again for your patience and persistence! Please always feel free to bother me!

[2020-08-11 21:41] ben-e-whitney commented on #84
@robertu94 Working on this now. Hoping to be done on Thursday. Merging into the main branch is going to take a while (we'll have to wait for #86), but at least you'll be able to start playing around with it.

There will be a change to the default node spacing (introduced by an earlier, unrelated commit in the branch I'm building this on top of): where previously `n` nodes in a particular dimension

[2020-08-12 14:37] qliu21 commented on #84
@ben-e-whitney it looks like for some reason, I do not receive these notifications automatically. Sorry about that - let me read through this thread and will get back to you.

[2020-08-18 19:07] robertu94 commented on #84
@ben-e-whitney I see that #86  was merged,  Does that mean that the QOI changes have been made?

[2020-08-31 12:13] robertu94 commented on #84
ping!

[2020-09-01 15:55] ben-e-whitney commented on #84
Sincere thanks for the reminder. I have just opened a pull request (#89) that (among many other changes, including a few to the API) adds functions for computing the norm of a quantity of interest function accepting a `void *` parameter. See de07e4cd9f7ce59de7ad111b1833b6bc53978162. The new functions are declared in `include/TensorNorms.hpp`. You can use them like this:

[code]

The new functions

[2020-09-01 20:16] #30 closed

[2020-09-01 20:16] #74 closed

[2020-09-01 20:16] #84 closed

[2020-09-01 20:16] #85 closed

[2020-09-02 15:02] robertu94 commented on #84
@ben-e-whitney The header "TensorNorms.hpp" is not installed with MGARD on cmake install, could this header be exposed?

[2020-09-02 16:02] ben-e-whitney commented on #30
This is fixed in 620b0520e71cc64d96ef3c3be84a2824de398318, included in #89.

[2020-09-09 00:37] robertu94 opened #93 "Does quality of interest mode work for 2-d data?"
I was running a test for the new libpressio mgard plugin that supports the changes from #84, and I noticed if I passed a 2d data structure, I get a floating point exception:

[code]

Is this QOI mode supported for 2-d data at all?

[2020-09-15 20:02] ben-e-whitney opened #94 "Memory Leaks in Huffman Code"
I get some minor memory problems when using the Huffman code. Mostly they are just memory leaks, but there is also a misaligned load. To reproduce, run the following. (`sample_r_B_0.5_26.dat` can be found [here][sdrbench].)

[code]
[Here][stderr] is the output I get.

[sdrbench]: https://sdrbench.github.io/
[stderr]: https://github.com/CODARcode/MGARD/files/5228000/stderr.txt

[2020-09-17 23:50] #73 closed

[2020-09-18 03:06] qliu21 commented on #94
Will look into misaligned issue next.

[2020-09-18 22:04] qliu21 commented on #94
Fixed the alignment issue.

[2020-09-18 22:05] #94 closed

[2020-09-22 18:12] ben-e-whitney commented on #15
This has been fixed in the reimplemented `compress` function added to the API in 1120e92e4e9bf96cbacb9fd0f796456f9986028c. Unzip [this archive][issue_15.zip] in the root of the repository and run the following.

[code]

I'll leave this issue open till the changes have been merged. Let me know if there are any other problems with this.

[issue_15.zip]: https://github.com/CODARcode/MGARD/files/52632

[2020-09-22 18:44] ben-e-whitney commented on #31
This has been fixed in the reimplemented `compress` and `decompress` functions added to the API in 1120e92e4e9bf96cbacb9fd0f796456f9986028c. Unzip [this archive][issue_31.zip] in the root of the repository and run the following.

[code]

I'll leave this issue open till the changes have been merged.

[issue_31.zip]: https://github.com/CODARcode/MGARD/files/5263394/issue_31.zip

[2020-09-22 18:46] ben-e-whitney commented on #52
This has been fixed in the reimplemented `compress` and `decompress` functions added to the API in 1120e92e4e9bf96cbacb9fd0f796456f9986028c. I'll leave this issue open till the changes have been merged.

[2020-09-22 19:13] ben-e-whitney commented on #37
The reimplemented `compress` function added in 1120e92e4e9bf96cbacb9fd0f796456f9986028c returns an object containing the value of `s` used to compress the data.

[code]

I'll leave this issue open till the changes have been merged.

[2020-09-22 19:16] ben-e-whitney commented on #27
FYI: the reimplemented compress function added in 1120e92e4e9bf96cbacb9fd0f796456f9986028c returns an object which knows the size of the compressed dataset.

[code]

[2020-09-22 19:16] #27 closed

[2020-09-22 19:28] ben-e-whitney commented on #32
The reimplemented `compress` function added in 1120e92e4e9bf96cbacb9fd0f796456f9986028c returns an object containing the compressed data along with the parameters passed to the function. I think we will probably add a member indicating which lossless compressor was used on the quantized multilevel coefficients. We could also use that member to indicate that the coefficients weren't quantized at al

[2020-09-22 19:51] ben-e-whitney commented on #33
This has been fixed in the reimplemented `compress` function added to the API in 1120e92e4e9bf96cbacb9fd0f796456f9986028c. Unzip [this archive][issue_33.zip] in the root of the repository and run the following.

[code]

I'll leave this issue open till the changes have been merged. Let me know if there are any other problems with this.

[issue_33.zip]: https://github.com/CODARcode/MGARD/files/52636

[2020-09-24 15:14] robertu94 opened #99 "MGARD - CUDA fails to compile"
When I try to build MGARD with cuda support I get the following error on the branch master at commit `fdaeebdd72b6c84a598c2a60c3d0dd3c7bc8c85a`

Here is the compiler error

[code]

Here is the cmake configuration dump

[code]

Some other possibly useful version information

[code]

[2020-09-24 19:55] #99 closed

[2020-09-28 15:06] #15 closed

[2020-09-28 15:06] #31 closed

[2020-09-28 15:06] #33 closed

[2020-09-28 15:06] #37 closed

[2020-09-28 15:06] #52 closed

[2020-09-28 21:12] robertu94 opened #102 "linker errors when zstd not availible"
When attempting to link to mgard on a machine that does not have zstd installed, mgard produces linker errors.  Given the way mgard requests to link against zstd only if it was found, I suspect this was not intended.  Could you please clarify if zstd is required or not for new releases of mgard going forward?

[2020-09-29 02:31] qliu21 commented on #102
When ZSTD is turned off, I tried to list the symbols of the mgard .so -  It didn't seem to me that .so has any ZSTD related symbols. Please can you clarify a bit more?

[2020-09-29 18:14] robertu94 commented on #102
Sorry, this was caused by a bundled version of zstd in SZ that cmake found, but the linker couldn't find.

[2020-09-29 18:14] #102 closed

[2020-10-14 16:52] ArchangeGabriel opened #104 "Narrowing conversion warnings"
While building the latest release, I get some `-Wnarrowing` warnings:
[code]

[2020-10-14 17:07] ArchangeGabriel opened #105 "mgart_test1 segfaulting"
While trying to build the project on Arch Linux, I got a segfault for the aforementioned test:
[code]
Not sure what could help you debug this, so just ask whatever you need. ;)

[2020-10-15 13:35] qliu21 commented on #105
I will look into this. My apologies that I have other deadlines at the moment. Therefore, it will take sometime (2 weeks).

Meanwhile, just out of curiosity, what applications do you need MGARD for? For all major HPC systems, we haven't tested
Arch Linux yet, since we don't have any systems using Arch Linux.

[2020-10-15 15:11] qliu21 commented on #105
Yeah, the MGARD API was recently changed, but ADIOS has not been updated yet. Therefore, I expect compile issues, which
I will fix soon. Thanks for letting us know.

[2020-10-15 15:20] ArchangeGabriel opened #106 "ADIOS2 has difficulties with mgard at build time"
I think part of the issue is that header files are for some directly under `/usr/include/`, while most are in a subfolder `mgard`:
[code]
It’s kind of odd that some appear twice (almost all in the root dirs), especially for `TensorMeshHierarchy.hpp`, and it’s also strange that toplevel has `MGARDConfig.h` while subdir has `MGARDConfig.h.in`.

Thus, when I try `-DMGARD_INCLUDE_DIR=/usr/include/`, I

[2020-10-23 14:45] #104 closed

[2020-11-12 19:03] ben-e-whitney opened #110 "Deleting Gray–Scott Test"
Can we delete the Gray–Scott test? It doesn't actually check anything beyond `mgard_compress` and `mgard_decompress` not throwing any errors, and that's checked elsewhere. MGARD is only used in `writer.cpp`:

[code]
Here's the relevant part of `writer.cpp`:

[code]
The advantage of deleting the test would be that we could remove the dependency on ADIOS, which adds something like ten minutes to our

[2020-11-13 14:03] qliu21 commented on #110
Sure. I was also thinking about doing this - the reason I didn't do it is that in the future, mostly like Scott will play with MGARD through this example. I wanted to make sure at least it builds and runs. But I agree with you.

[2020-11-17 20:21] qliu21 commented on #106
Fix has been merged to ADIOS.

[2020-11-17 20:21] #106 closed

[2020-11-18 16:58] qliu21 commented on #110
@ben-e-whitney A somewhat related question: I noticed that you moved those 1D tests to catch testing. Will these be run for Travis CI?

[2020-11-18 19:08] robertu94 opened #112 "find_package failure with mgard"
Recently MGARD now issues a cmake error when I go to find_package(mgard) in a seperate package.  This seems to be tied to a change in where include files are now stored.  I suspect this was unintentional:

[code]

The following patch fixes this:

[code]

But I don't think this is what you want.  Instead I suspect that you want to install the include files to `$prefix/include/mgard ` rather than sp

[2020-11-18 19:35] qliu21 commented on #112
It was intended that we write to $prefix/include.

[2020-11-18 19:35] #112 closed

[2020-11-18 19:42] robertu94 commented on #112
Respectfully, this issue isn't resolved.  There is still a build error that is caused by this line in CMakeLists.txt:

`$<INSTALL_INTERFACE:${CMAKE_INSTALL_INCLUDEDIR}/mgard>`

You don't have to change the installation directory, but please do change the CMakeLists.txt file to address the build error when other packages use `find_package` to load MGARD.  To reproduce the issue on your machine, you

[2020-11-18 19:48] qliu21 commented on #112
We will look into this. I don't have /usr/include/mgard on my machine. And I could successfully use mgard from ADIOS.

We are in the process of massively changing MGARD and it will take sometime. Please stay put. If you have other deadlines, please feel fix to change it in your fork while we are looking into this. thanks!

[2020-11-18 22:38] robertu94 commented on #112
I set my install prefix to `/usr/`  It might be `/include/mgard` if you have prefix set to `/` or `/usr/local/include/mgard` if it is set to `/usr/local`

[2020-11-19 18:29] ben-e-whitney commented on #110
Yes. It's been slow going because I keep making CMake mistakes, but I will replace the `test-gs` build matrix entry with a `tests` entry that runs the Catch tests.

[2020-11-19 18:29] #110 closed

[2020-11-19 18:36] qliu21 commented on #110
Thank you. No problem.

On Thu, Nov 19, 2020 at 1:30 PM ben-e-whitney <notifications@github.com>
wrote:

--
Dr. Qing Liu
Assistant Professor
Helen and John C. Hartmann
Department of Electrical and Computer Engineering
New Jersey Institute of Technology, Newark, NJ
Web: https://web.njit.edu/~qliu/
Email: qing.liu@njit.edu
Phone: 973-596-3526

[2021-01-09 23:56] ben-e-whitney commented on #112
I 'rediscovered' this issue as part of an effort to learn CMake and clean up the build. As of 77d8dd82e898352f1613c9e2f1467886311ce818, the headers are installed to `${CMAKE_INSTALL_INCLUDEDIR}/install/mgard`. That commit hasn't been merged in to `master`, but it will be soon enough (assuming @qliu21 doesn't object!). Let us know if you run into any more problems. Thanks for the suggestions, as al

[2021-01-12 20:12] robertu94 commented on #112
Thanks @ben-e-whitney could you @ me on the PR you you make it so I can update libpressio accordingly.

[2021-02-24 16:27] ben-e-whitney commented on #70
As we've (temporarily) removed the quantity of interest overloads, this issue has been sidestepped. I'll keep it in mind when designing the replacement overloads.

[2021-02-24 16:27] #70 closed

[2021-02-24 16:58] ben-e-whitney commented on #105
This segfault no longer occurs. The immediate cause is that we've stopped running tests from CMake. (We've added many more tests than we've deleted. Everything's now run with Catch2.) My guess is that the segfault was ultimately caused by interpreting a 513 × 513 dataset as a 513 × 513 × 1 dataset. I'm working on that issue now.

[2021-02-24 16:58] #105 closed

[2021-02-25 22:13] ben-e-whitney commented on #93
The issue here was that MGARD did not know to handle dimensions of size 1 differently. ddad909b6f7aacfd8c7a394bce2991fce5d9b77b to f4f771e5bd483dc8799cedee79f93be38283d17e fix that. I will close this issue once those commits have been merged.

Unfortunately, the new commits won't help with your test, because the `mgard_compress` overload taking a `qoi` function pointer was removed by 397059c0284c0

[2021-03-09 19:31] ben-e-whitney opened #120 "Removing Unused Continuous Integration Tooling"
I have been trying to better understand our continuous integration setup. Many of the associated files appear to be unused.

* We don't run any tests on Azure Pipelines, so I think we can delete `azure-pipelines.yml`.
* Nothing in `scripts/{appveyor,ci,conda,runconf}` appears to be used.
* `scripts/dashboard/adios_common.cmake` is used but seems to tie us to the ADIOS2 CDash dashboard.
* Various o

[2021-03-18 15:52] ben-e-whitney commented on #120
I think Travis is enough for the Catch2 tests for the new API. Eventually we can add tests for the new executable using CTest (or whatever else). I will simplify things now and then we can add features back in as we need them. It'll probably involve a little duplication of effort, but our setup be easier to understand.

[2021-03-23 02:20] #93 closed

[2021-03-25 17:56] ben-e-whitney opened #124 "Combining and Renaming `mgard_api.h` and `mgard_api_cuda.h`"
Before the next release, I propose we combine `mgard_api.h` and `mgard_api_cuda.h` and rename to `mgard.hpp`, `api.hpp`, `compress.hpp`, or something else. Pros:

* All of the other headers the user might want to include (`TensorMeshHierarchy.hpp`, `TensorQuantityOfInterest.hpp`, `TensorNorms.hpp`, etc.) have the extension `.hpp`.
* The (CPU) functions are contained in the `mgard` namespace, and t

[2021-03-25 18:33] cjy7117 commented on #124
I'm fine with merging these two header files. One thing to note: Just in case users built the MGARD library without GPU but accidentally call the GPU version API, we need to decide what to do: 1) give an error message and stop the program; or 2) give a warning message and fall back to the CPU version.

[2021-03-26 03:15] #120 closed

[2021-04-02 20:52] cjy7117 commented on #124
@ben-e-whitney, When I try to include ```mgard_api.h``` to my test program after I added my GPU APIs in there I get the following compilation error. Do you have any idea what is wrong?
[code]

[2021-04-05 15:56] ben-e-whitney opened #126 "Template Errors After Adding GPU APIs to `mgard_api.h`"
@cjy7117 reported the following in #124. (I rewrapped the error message.)

I'm going to focus on the second error to start. It looks like a `CartesianProduct<T, N>::iterator` is getting constructed incorrectly somewhere. @cjy7117, does this error get thrown on a particular part of the test program? I need to be able to reproduce the error.

[2021-04-05 15:57] ben-e-whitney commented on #124
@cjy7117: I made a new issue for that: #126.

[2021-04-05 17:19] cjy7117 commented on #126
@ben-e-whitney , actually I got this error even if I don't merge the GPU API. When I try to include original ```mgard_api.h``` in my test program ```../src/cuda/mgard_cuda_double_test.cu```, I get this error when compiling.

[2021-04-05 17:33] cjy7117 opened #127 "Installation dir for header files"
I'm trying to mimic what a general user would do to use MGARD:

- Build and install MGARD
- Build a test separate test program that uses MGARD.

However, I'm getting issues when compiling my test program since the compiler could not find the header files. This is because when we develop MGARD the header files are in ```../include/*``` and when installed the header files are in ```../include/mgard/

[2021-04-13 20:10] ben-e-whitney commented on #127
I think installing the headers to `<install_dir>/include/mgard` and telling the compiler to look in `<install_dir>/include` is right (see #112), so we should change the build interface paths to match by moving the headers from `include` to `include/mgard`. Would that fix the problem? That seems to be how ADIOS does it (see [here][ADIOS include] and, for example, [here][ADIOS header]).

[ADIOS incl

[2021-04-14 18:49] cjy7117 commented on #126
@ben-e-whitney Yes, I can reproduce this problem. I can modify my GPU design such that users do not need to use ```nvcc``` to compile their source code when linked with the MGARD-GPU library. However, if the users' source code is for GPU (e.g., if they use MGARD in a simulation code that runs on GPU), then they must use ```nvcc``` which would still trigger the bug.

[2021-04-14 18:59] cjy7117 commented on #127
Yes. I think moving all headers files from ```include``` to ```include/mgard``` should work for me. I can create a PR for moving headers for the GPU version. I will leave the CPU part unchanged since I don't want to break your code. There will be two include paths for the build interface (```$<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}/include>```  and ```$<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_

[2021-04-15 18:25] cjy7117 commented on #127
@ben-e-whitney , I have figured out a way to solve this problem without having to move the header files. I will create the PR for this.

[2021-04-21 19:19] ben-e-whitney commented on #127
Did you open a pull request? I can't find it. I'm happy to move the CPU headers – it's no big deal.

[2021-04-22 21:23] cjy7117 commented on #127
@ben-e-whitney I have resolved the problem so that we do not need to move CPU and GPU headers. See PR #128.

[2021-04-23 01:43] cjy7117 commented on #126
@ben-e-whitney I try to work around this bug by keeping both ```mgard_api.h``` and ```mgard_cuda_api.h``` headers. The GPU APIs are included in both header files. The difference between the two is that when users compile their code with C/C++ compiler, they should use ```mgard_api.h```  and if they to NVCC then they should use ```mgard_cuda_api.h```.

[2021-04-26 14:02] #124 closed

[2021-05-30 03:57] JasonRuonanWang opened #131 "number too large to be quantized"
I have come across this exception when I was trying to compress a 2D float array. When I set the accuracy to 0.000001, as soon as I increase the array size to larger than 300x300, which is not a big array in the sense of HPC applications, it starts throwing this exception.

I have attached a simple code to re-produce it. It's an ADIOS2 code, but should be fairly easy to translate to a MGARD code.

[2021-06-16 15:08] lwan86 opened #132 "constructor of "TensorMeshHierarchy" cannot take a non-const dimension value as the input parameter"
I need to read a variable from a bp file and then compress it. The dimension of that variable cannot be known until we read it. However,  the input parameter "shape" of the constructor of "TensorMeshHierarchy" needs to be an "std::array", which requires const dimension. Why do we have to use the "std::array" here?

[2021-06-17 15:25] ben-e-whitney opened #133 "Travis CI Migration"
[`travis-ci.org` has been shut down][shutdown notice], so we will need to migrate to `travis-ci.com`. [Here are the instructions.][migration instructions] @qliu21, I think you are the only one with the permissions to do this.

[shutdown notice]: https://blog.travis-ci.com/2021-05-07-orgshutdown
[migration instructions]: https://docs.travis-ci.com/user/migrate/open-source-repository-migration#migra

[2021-06-17 18:18] qliu21 commented on #133
Ben,

I just tried. It seems that MGARD is owned by CODAR (organization) and
therefore the migrate option on my side is all grey. Maybe Todd can help?
Thanks!

G

On Thu, Jun 17, 2021 at 11:25 AM ben-e-whitney ***@***.***>
wrote:

--
Dr. Qing Liu
Assistant Professor
Helen and John C. Hartmann
Department of Electrical and Computer Engineering
New Jersey Institute of Technology, Newark, NJ
Web: http

[2021-06-18 13:29] ben-e-whitney commented on #133
@tmunson, does it let you make the change?

[2021-07-12 16:47] ben-e-whitney commented on #132
The underlying problem is that `TensorMeshHierarchy` is templated on the dimension `N`. I don't quite remember the original rationale for making `N` a template parameter rather than a normal data member; maybe it had something to do with the original API, or maybe I was just trying to make development easier by avoiding problems caused by mismatched dimensions. I don't see any reason we can't make

[2021-07-12 17:56] ben-e-whitney commented on #131
I can reproduce this on 360a2fb853adbb1d758704960d4f51e85e4d3f57. Here is more or less what's happening:

1. The original dataset is transformed into a collection of coefficients.
2. For each coefficient `x`, a quantizer bin width `q` is computed. The bin width depends on a number of factors, among them the error tolerance and the size of the input dataset.
3. The quantizer finds an integer `n` su

[2021-07-12 18:36] #127 closed

[2021-07-12 18:58] ben-e-whitney commented on #126
I asked the OLCF User Assistance Center for help with this back in April (ticket number OLCFHELP-1720). They reproduced the error and asked their internal Nvidia contact for help. That person opened another ticket (with Nvidia?) and reported back:

So it looks like eventually this will get fixed. In the meantime, we can use your solution of keeping both headers.

[2021-07-12 18:58] #126 closed

[2021-08-25 12:52] #133 closed

[2021-09-06 19:24] robertu94 opened #140 "cmake issues"
@ben-e-whitney

I heard that you all are doing a release soon, and I wanted to make sure you were aware of a number of issues related to the current CMake configuration.

1. It would be nice if the docs target could be disabled.  On some systems, the docs cause the cmake build to fail.  Being able to disable them is easy, and allows users to move forward.  Reproducibility information in [docs.log]

[2021-09-30 16:39] #140 closed

[2021-10-06 19:58] kmorel opened #153 "Calling decompress on a CompressedDataset crashes"
It no longer works to call `mgard::decompress` on a `CompressedDataset<T,Real>` (that comes from `mgard::compress`). Typically you get a crash.

What think is happening is that `mgard::compress` now puts in a self-describing header. This header is ignored by the overload of `decompress` that takes a `CompressedDataset` (even though its buffer has that header). Consequently, parts of the header (li

[2021-10-06 20:34] kmorel opened #155 "UBSAN errors when writing/reading header information"
If you have the `MGARD_ENABLE_UBSAN` CMake variable set to `ON`, you get a lot of sanitizer warnings during compression like this:

[code]

Likewise, you get similar warnings during decompression:

[code]

The problem appears to be that the metadata at the beginning of the buffer is of an odd length, which leaves the buffer pointer at an unaligned location.

It might work to pad the metadata to la

[2021-10-20 17:25] ben-e-whitney opened #157 "Serialization Library Choice"
# Background

For the past couple of weeks I have been working on the MGARD file format. My original plan was something like this:

1. Write code to read and write the basic types used in the header (`uint32_t`s, `double`s, etc.). Figure out how to handle endianness and type representations that might differ from one computer to the next.
2. Work out whether we need to change @JieyangChen7's heade

[2021-10-20 17:52] gqian-coder opened #158 "ZSTD error"
Downloaded the latest MGARD and ran an old compression code, but got an ZSTD error:

MGARD/src/compressors.cpp:639 CHECK(!ZSTD_isError(err)) failed: Unknown frame descriptor

The data is 2D, float, size 361x361. I set an error bound of 1.7, which is equivalent to 1e-3 relative error. The code crashed at:

void decompress_memory_zstd(void *const src, const std::size_t srcLen,

[2021-10-20 18:32] JieyangChen7 commented on #157
@ben-e-whitney Thanks for summarizing all these libraries. Although I'm not very familiar with using Protocol Buffers, I think it is a good choice for us since it is well maintained by Google and I know a lot of libraries are using it.

[2021-10-20 19:14] qliu21 commented on #158
The decompression API is changed.

On Wed, Oct 20, 2021 at 2:42 PM gqian-coder ***@***.***>
wrote:

--
Dr. Qing Liu
Assistant Professor
Helen and John C. Hartmann
Department of Electrical and Computer Engineering
New Jersey Institute of Technology, Newark, NJ
Web: https://web.njit.edu/~qliu/
Email: ***@***.***
Phone: 973-596-3526

[2021-10-20 19:52] gqian-coder commented on #158
Do you mean I should change
decompress(const CompressedDataset<N, Real> &compressed);
to
std::unique_ptr<unsigned char const[]> decompress(void const *const data, const std::size_t size); ?

For the size, is it equal to compressed.size()?

[2021-10-20 20:26] ben-e-whitney commented on #153
Your diagnosis is right, @kmorel. You shouldn't have to call `mgard::decompress(void const * const, const std::size_t)` now – calling `mgard::compress` followed by `mgard::decompress(const CompressedDataset &)` should still work. I assumed it still did because the tests in `tests/src/test_compress.hpp` still passed. However, in 6d138ed4a163195e334f42a327a997fbae41e9c8 the decompression call in tho

[2021-10-22 17:56] kmorel opened #160 "Cannot use MGARD with CUDA"
It does not seem to be possible to compile an MGARD application with `nvcc`. More specifically, if you have include `compress.hpp`, `nvcc` gives some strange compile errors. This is a problem since functions like `mgard_cuda::compress` are defined in `compress.hpp`.

I can replicate the problem with the following trivial source file:

[code]

When I attempt to compile this with `nvcc`, I get the f

[2021-10-26 14:45] #160 closed, assigned to nobody

[2021-10-26 14:54] kmorel opened #161 "Config parameter of mgard_cuda::compress/decompress not optional"
The [documentation for MGARD-GPU](https://github.com/CODARcode/MGARD/blob/master/doc/MGARD-GPU.md) states that the `config` parameter is supposed to be optional for `compress` and `decompress`. However, it is not optional for either of them and you get a compile error if you leave it out.

On a mostly unrelated note, there is another error in the documentation of `mgard_cuda::compress` where the d

[2021-10-27 21:59] robertu94 opened #164 "Example usage with MGARD-QOI mode?"
@ben-e-whitney  is there somewhere I can look to get an example of how to use MGARD-QOI with the new api?  I found a test case, but I wasn't sure how to translate it into a call to a compression routine.

Likewise is it supported on the MGARD GPU version?  And if so, is there a example that I can follow?

[2021-11-03 11:02] suchyta1 opened #165 "GPU build on Summit"
Building with CUDA support on Summit is no longer working for me. I get the following error:

/sw/summit/cuda/11.3.1/bin/nvcc -forward-unknown-to-host-compiler -ccbin=/sw/summit/gcc/10.2.0-2/bin/g++ -DMGARD_ZSTD -Dmgard_library_EXPORTS -I/tmp/esuchyta/spack-stage/spack-stage-mgard-develop-gos6qwjwfuh7uug6tgwo2qztovo5oi2p/spack-src/include -I/tmp/esuchyta/spack-stage/spack-stage-mgard-develop-gos6q

[2021-11-04 17:19] JieyangChen7 commented on #165
@suchyta1 The compilation issue should be fixed with #166

[2021-11-04 17:20] #165 closed

[2021-11-04 17:30] JieyangChen7 commented on #161
#166 should fix this issue.

[2021-11-04 17:30] #161 closed

[2021-11-05 11:30] tugluk opened #167 "MGARD binary fails to compile"
* While trying the new release (1.0.0), I had trouble with TCLAP library. To start with my distro doesn't have a tclap.pc for version 1.4. Creating one led to the following error:

`MGARD-1.0.0/include/cmdline.hpp:58:18: error: ‘XorHandler’ in namespace ‘TCLAP’ does not name a type`
 `virtual TCLAP::XorHandler &getXorHandler() override;`
                  ^~~~~~~~~~
`compilation terminated due to

[2021-11-05 16:46] ben-e-whitney commented on #167
The first issue seems to have been caused by my not appreciating the implications of the changes made in #141.

1. It appears that TCLAP doesn't generally come with either a PkgConfig `.pc` file or a CMake configuration file. My distribution's TCLAP package happens to contain a PkgConfig `.pc` file:

[code]
When you install from [source][TCLAP 1.4.0], though, you get neither a PkgConfig `.pc` file

[2021-11-18 18:08] ben-e-whitney commented on #155
Reopening this so I don't forget to check whether the new header code fixes it.

[2022-01-11 23:05] #167 closed

[2022-01-19 15:25] #153 closed

[2022-01-19 15:25] #155 closed

[2022-01-19 15:25] #157 closed, assigned to JieyangChen7, qliu21

[2022-01-19 15:25] #158 closed, assigned to ben-e-whitney

[2022-01-19 16:52] ben-e-whitney commented on #158
@gqian-coder, you should be able to use the old API again. Let me know if you get any more errors.

@robertu94, the CLI should also be fixed. For me:

[code]

Let me know if that doesn't work for you.

[2022-02-04 14:51] taniabanerjee opened #175 "MGARD compilation on GPU: Issue with LosslessCompression.cu"
With the latest MGARD I get the following errors:

/gpfs/alpine/csc143/proj-shared/tania/MGARD/src/cuda/LosslessCompression.cu(411): error: no suitable conversion function from "std::vector<long, std::allocator<long>>" to "long *" exists

/gpfs/alpine/csc143/proj-shared/tania/MGARD/src/cuda/LosslessCompression.cu(411): error: no suitable conversion function from "mgard::MemoryBuffer<unsigned char>

[2022-02-09 20:52] #175 closed

[2022-02-23 16:14] ben-e-whitney opened #178 "Add Fallback Method to Find `zstd`"
540beba83acde7788b53f7d3c6df5f9deb3e1795 changed the function used to find `zstd` from `pkg_search_module` to `find_package`. @JieyangChen7 told me the motivation was to link against the shared version of the library. My distribution's `zstd` package doesn't provide a `zstd` config file:

[code]

Ideally we would both use the shared library if available and support `pkg-config`.

[2022-03-04 01:23] hengjiew opened #182 "Unable to compile MGARD"
Hello, I am trying to build MGARD and get the following error during compilation.

[code]

I have installed MGARD's dependencies and tried to build it with cuda 11.3.1 as follow:
[code]
Then I compiled MGARD in the build directory via `make -j VERBOSE=1` and saw the above error. I had the same error without `CMAKE_CXX_STANDARD=17` and added it to ensure that `auto` is supported. But it didn't help

[2022-03-04 04:26] JieyangChen7 commented on #182
@hengjiew Thanks for pointing out the error on our readme page. We will fix the link.

I'm able to reproduce this error with CUDA v11.3.1 on Summit. However, the error disappears if I use a newer version (e.g., 11.4) or an older version (e.g., 11.1). So, it seems that this is due to a bug in the NVCC compiler. Could you try to use a different version of CUDA?
You can also use the build script we w

[2022-03-04 18:22] hengjiew commented on #182
Hello @JieyangChen7 , thanks a lot for looking into this issue.
I can compile MGARD with cuda/11.4.2 on Summit.

I also tried to run the script `build_mgard_cuda_summit.h` but it gave me the following error:
[code]

[2022-03-04 18:50] JieyangChen7 commented on #182
@ben-e-whitney This seems to be an error when calling Protobuf. Have you seen this before? I have never encountered this issue on Summit.

[2022-03-04 19:05] ben-e-whitney commented on #182
I haven't, no. @hengjiew, which C++ compiler are you using?

[2022-03-04 19:21] hengjiew commented on #182
Hi @ben-e-whitney, I am using gcc/9.3.0.

[2022-03-08 15:59] ben-e-whitney commented on #182
I am having trouble reproducing this error. It appears to be related only to Protobuf, not CUDA, so I've made a simplified build script that enables only the serial MGARD-X backend. I've pasted the script below. It runs without any errors for me. @hengjiew, please try running it and tell us what happens.

[code]

[2022-03-10 19:17] hengjiew commented on #182
Hello @ben-e-whitney, thanks for looking into this.
I got the same error with your script and attached the build log.
[build_err.log](https://github.com/CODARcode/MGARD/files/8226379/build_err.log)

[2022-03-11 01:08] hengjiew opened #184 "Unable to compile or link library with the provided simple example."
Hello guys,

This issue is related to issue #182. I can now build mgard with cuda 11.4.2 on Summit, provided that I installed all the dependencies manually. I tried to compile the example provide at https://github.com/CODARcode/MGARD/blob/master/doc/MGARD-X.md. The compilation works fine but I got missing reference during the linkage
[code]
I double-checked that libmgard.so is in the library path

[2022-03-11 01:13] JieyangChen7 commented on #184
@hengjiew The provided example code for low-level API is outdated. I will update it in the near future.

[2022-03-11 01:51] hengjiew commented on #184
Thanks for the confirmation.
Could you please point me to an up-to-date example with a compression followed by a decompression? Either lower or higher API will work.

Also, do I suppose to use the mgard_x::Array class? or it's not compiled into the library? Thanks!

[2022-03-12 21:55] ben-e-whitney commented on #182
@hengjiew According to the log, you're building Protobuf with `gcc` 8.3.1 but MGARD with `gcc` 9.3.0. Can you try using version 9.3.0 for both?

[2022-03-13 02:20] lindstro opened #185 "Cannot build MGARD"
I just fetched the latest MGARD commits, but am having build issues:
[code]
This in spite of having protobuf 3.19.4 installed:
[code]
Any suggestions would be appreciated.

[2022-03-13 17:37] ben-e-whitney commented on #185
Hi @lindstro. I don't have a Mac to reproduce this on, but I'll still suggest a few things to try. Later on in the week we'll get someone with a Mac (@JieyangChen7?) to look into it.

CMake is using `pkg-config` to find Protobuf. To do that, `pkg-config` needs to find a configuration file called `protobuf.pc`. My guess is that either the Homebrew Protobuf formula doesn't provide `protobuf.pc` or i

[2022-03-13 20:31] lindstro commented on #185
@ben-e-whitney That did it!  Unfortunately, the documentation does not build on my Mac (`/usr/bin/sed: illegal option -- -`), so I'm not sure how to use the CLI.  Is there a reasonable default for the "smoothness" parameter?  How do I specify the dimensions of multidimensional arrays?

[2022-03-13 21:46] ben-e-whitney commented on #185
@lindstro Oh, it must be a GNU `sed` vs. BSD `sed` thing. I will fix that later this week.

I would keep the smoothness parameter at 0. Then the error will be controlled in the L² norm. You can specify the dimensions of an array like this: `--shape 40x50x60`. The dimensions are in C order: the first `n` bytes of the input file will be `u[0][0][0]`, then `u[0][0][1]`, …, then `u[0][0][59]`, then `u

[2022-03-13 22:02] lindstro commented on #185
Thanks, this helps.  How should the "absolute error tolerance" parameter be interpreted?  Using a smoothness parameter of 0, does it bound the L<sup>2</sup> or L<sup>&infin;</sup> error?  The observed L<sup>&infin;</sup> error exceeds the tolerance, so I'm guessing the former.  Is it possible to bound the L<sup>&infin;</sup> error?

[2022-03-13 22:56] ben-e-whitney commented on #185
Yes, L² in that case. The smoothness parameter selects the norm in which the error will be controlled. The absolute error tolerance is the largest the error will be in that norm. So if you used `--smoothness 0 --tolerance 0.1`, you'd be guaranteed

[code]
where `u` is the original dataset and `ũ` is the compressed dataset. _Absolute_ in contrast to _relative_ – the righthand side is `0.1`, not `0

[2022-03-14 16:27] lindstro commented on #185
Those same reasons apply to zfp. :-)  Suppose I don't care about the error bound being loose, e.g., I might plot a rate-distortion curve and then select the rate and/or distortion that suit my needs.  In this case, does it matter which error norm is being optimized?  In other words, does the MGARD compression algorithm make different decisions depending on the type of error norm?

[2022-03-14 19:29] hengjiew commented on #182
@ben-e-whitney I was able to bluid MGARD when I installed all the dependencies manually with the same compiler (gcc/9.3.0). So I think you are right that using different compiler causes the failure for the build script. Thanks!

[2022-03-17 16:11] hengjiew opened #187 "thoughput and compression ratio of the high level API"
Hello, I am testing the high level APIs on a V100 GPU (Summit) with a very simple benchmark. The input data is generated from random numbers between (0, 1). I got a few questions and it would be very helpful if you guys could shed some lights on them.

1. I got ~0.1GB/s for the comp and decomp thoughput. I am not sure what would a typical thoughput for mgard but does this seem low?
2. The API take

[2022-03-18 04:45] JieyangChen7 commented on #187
@hengjiew Sorry about the late reply.
`128*128*16*8 bytes` (~2MB) is a small dataset that can be hard to fully saturate the GPU to achieve high throughput. Usually, you will need hundreds of megabytes of data to saturate the GPU for compression.
If you want to achieve the best performance and you don't need MGARD to handle metadata, I recommend that you directly use the low-level APIs, which can t

[2022-03-18 18:08] hengjiew commented on #187
@JieyangChen7 Thanks for the reply. I will test with that PR.  Besides this, is there any guidance about setting the error tolerance?  When I set the tolerance below 1.0e-4, why does it stop compressing the data? Thanks!

[2022-03-18 18:51] JieyangChen7 commented on #187
@hengjiew Besides storing the compressed data, the returned data buffer also stores necessary information for decompressing the data. In the GPU parallel implementation, that information can be as large as hundreds of KB to a few MB. So, when the input dataset is small, it is likely that the overhead for storing that information is high, which may limit the overall compression ratios. When the inp

[2022-03-22 14:27] ben-e-whitney commented on #182
I believe that everything raised in this issue will be resolved once #188 is merged (@JieyangChen7 fixed the broken link there). @hengjiew, please let me know if I'm mistaken or if you've encountered any new problems building MGARD.

[2022-03-22 19:19] ben-e-whitney commented on #185
Apologies for the delay!

Yes, it does. The error norm affects the quantization of the decomposition coefficients (but not the decomposition itself).

Background: Each decomposition coefficient represents a 'wiggle' in the data which looks something like `α · exp(−β · (x − x₀)) · cos(β · (x − x₀))`. The parameters:

* The amplitude `α` is determined by the magnitude of the coefficient.
* The cente

[2022-03-23 01:52] lindstro commented on #185
Thanks for the explanation.  But aren't the basis functions modulated Gaussians?  I suspect there's a square missing in the expression for the 'wiggle'.

[2022-03-23 15:25] ben-e-whitney commented on #185
No. I think you must be thinking of some other method. Maybe something using radial basis functions? In MGARD the *actual* basis is `{(I − Q_{l − 1}) φ_{l}(·; x) : 0 ≤ l ≤ L and x ∈ N_{l} \ N_{l − 1}}` where

* `l` is the index of some mesh in the mesh hierarchy (`L` is the index of the finest mesh);
* `N_{l}` is the set of nodes in mesh `l`, so that `N_{l} \ N_{l − 1}` is the set of 'new' nodes i

[2022-03-23 17:13] lindstro commented on #185
Thanks for your help.

[2022-03-23 17:13] #185 closed

[2022-03-25 17:07] lindstro opened #189 "Poor compression & quality for difficult-to-compress data"
I am doing some compression studies that involve difficult-to-compress (even incompressible) data.  Consider the chaotic data generated by the logistic map _x_<sub>_i_+1</sub> = 4 _x_<sub>_i_</sub> (1 - _x_<sub>_i_</sub>):
[code]
We wouldn't expect this data to compress at all, but the inherent randomness at least suggests a predictable relationship between _L_<sub>2</sub> error, _E_, and rate, _R

[2022-03-29 13:39] #182 closed

[2022-03-29 13:39] #184 closed

[2022-04-15 15:17] lindstro commented on #189
Just a friendly reminder to look into this issue when you get a chance.

[2022-04-27 14:29] ben-e-whitney commented on #189
Apologies for the delay. I have begun working on this and have reproduced the problem.

![image](https://user-images.githubusercontent.com/5350974/165541830-ecfefec0-dd61-4a32-b4ba-6b42349f6ac5.png)

I'm guessing there is some issue with the coefficient quantization. Looking into it now.

In the meantime, I have a question about accuracy gain.

Under what circumstances "should" `α(R)` be about con

[2022-04-28 02:07] lindstro commented on #189
When _R_ = 0, no compressed data is stored, so the best you can hope for is that the compression algorithm (with no knowledge about the input data) by luck reconstructs the decompressed data as a constant _x_ = &mu; for all _x_, where &mu; is the mean of the input data.  In this case, _E_ = &sigma;, so &alpha; = 0.  Any other constant _x_ will yield &alpha; < 0.

For large _R_, either _E_ = 0 or _

[2022-04-28 21:53] ben-e-whitney opened #190 "Assertion Failure in `huffman_decoding`"
In #189 we are investigating how MGARD performs on some very noisy data. When this data is compressed with a tight error tolerance and then decompressed, we get an error in [`huffman_decoding`][huffman_decoding]. It seems that an integer overflow is involved.

[huffman_decoding]: https://github.com/CODARcode/MGARD/blob/0f6cdf9b59e837547e3298be7187de8df376bb18/src/compressors.cpp#L183-L272

To repr

[2022-05-18 14:31] ben-e-whitney commented on #190
I am in the process of rewriting `huffman_encode` and `huffman_decode`. I will collect in this comment a few easily-summarizable issues I encounter in the course of that task.

[2022-05-27 09:07] wangwu1991 opened #191 "running error"
[ERR]  MemoryManager<Serial>::Malloc1D error.
[mars01:187617:0:187617] Caught signal 11 (Segmentation fault: address not mapped to object at address 0x37)
BFD: Dwarf Error: found dwarf version '5', this reader only handles version 2, 3 and 4 information.

[2022-05-27 18:21] ben-e-whitney commented on #191
@JieyangChen7 This looks like an MGARD-X error, I think?

@wangwu1991 Thanks very much for the bug report. Can you tell us how you compiled MGARD and what command you were running when you got this segfault?

[2022-05-30 02:45] wangwu1991 commented on #191
the segfault was appearing when running './mgard-x' .
The MGARD was compiled on HPC of Centos 7, with gcc/11.2.0, cmake/3.23.1, the zstd and the protoc were installed using MGARD/build_scripts/build_mgard_serial.sh (BTW, as a normal user without sudo, the same failure to run MGARD with personal installed zstd and protoc).

[2022-06-01 18:42] JieyangChen7 commented on #191
@wangwu1991 Thank you for creating this issue. Would you be able to provide us with the input data and parameters you used for compression?

[2022-06-02 08:12] wangwu1991 commented on #191
The input data is "testfloat_8_8_128.dat" in SZ2.  The full command I used is "./mgard-x  -z -i ./testfloat_8_8_128.dat -c testfloat_8_8_128.dat_z -r 1 -t s -n 3 8 8 128 -m rel -e 1e-3 -s 0  -l 3 -d serial -v". Thanks.

[2022-06-10 14:58] ben-e-whitney opened #192 "`CPU_HUFFMAN_ZLIB` Compressor Doesn't Use Huffman coding"
When the lossless compressor is set to `CPU_HUFFMAN_ZLIB` in the header, Huffman coding the quantized coefficients are subjected to Huffman encoding before being passed to `compress_memory_z`. See [this case][`CPU_HUFFMAN_ZLIB` case]. We should rename the enumeration value to `CPU_ZLIB` and add a case where both Huffman coding and `compress_memory_z` are applied.

[`CPU_HUFFMAN_ZLIB` case]: https:

[2022-06-15 06:28] nihao-spec opened #193 "can not build MGARD"
I built it as follows：
`$ cmake -S . -B build -D CMAKE_INSTALL_PREFIX=mymgard -D MGARD_ENABLE_DOCS=ON -D MGARD_ENABLE_CLI=ON
`
[code]
`$cmake --build build  `
`$ cmake --install build`
finall I got
[code]

[2022-06-16 22:17] ben-e-whitney commented on #193
Hi @nihao-spec. Apologies for the trouble. This shouldn't be too difficult to fix. Could you tell me which commit you're building on?

[2022-06-17 00:19] nihao-spec commented on #193
[0f6cdf9](https://github.com/CODARcode/MGARD/commit/0f6cdf9b59e837547e3298be7187de8df376bb18)

[2022-06-17 16:07] ben-e-whitney commented on #193
I have pushed commits fixing the issue (I hope) to a new branch, `fix-installation-paths`. Please check out that branch, try building, try installing, and let me know what happens.

[code]

[2022-06-19 05:46] nihao-spec commented on #193
I have install MGARD using branch origin/fix-installation-paths

[2022-07-05 16:22] ben-e-whitney commented on #189
Hi @lindstro. Apologies again for how long this is taking. Fixing the Huffman code ended up entailing a *lot* of work; see #196. Running on that branch, the accuracy gain plot looks a bit better.

![image](https://user-images.githubusercontent.com/5350974/177372621-8d74517a-bd7f-4dbe-aedd-c01e029f6897.png)

Comparison with what you were seeing:

* The initial plateau now extends to around 20 bits/

[2022-07-05 19:45] lindstro commented on #189
Thanks, @ben-e-whitney, for all your work in addressing this issue.  The accuracy gain plot looks a bit odd, but at least it doesn't go off a cliff, so that's a welcome improvement.  Let me play with this a bit and see how MGARD does on a few data sets.  Unfortunately, I cannot get the `huffman-decoding` branch to build on my Mac:
[code]

[2022-07-07 15:47] ben-e-whitney commented on #189
It looks like my compiler is letting me get away with something a little improper. Once the branch is ready to be merged I'll have someone with a Mac try building and iron out any issues that come up. In the meantime, I think it'll compile with `static_cast<bool>(node->left)` in place of `node->left`.

[2022-07-09 14:51] lindstro commented on #189
Thanks, but this leads to another issue:
[code]
Would be great if you could ensure MGARD builds on Mac.  I've heard from others that there might be linker issues as well.

[2022-07-18 22:57] lindstro commented on #189
Here's an update.  I was able to get around the `int64_t` issue just by commenting the assertion out, which should be safe given that these types have the same size on my platform (Apple clang).  The MGARD `huffman-decoding` branch now builds, albeit slowly (took 36 minutes!).

I'm including two plots below using the SDRBench Miranda viscosity field and this command line:
[code]
where TOLERANCE =

[2022-08-17 20:49] lindstro commented on #189
@ben-e-whitney It's been some time since I saw progress on this issue or #186.  Do you have any updates to share?

[2022-08-22 17:44] JieyangChen7 commented on #191
@wangwu1991 Sorry about the late reply. We have fixed the problem in #203  and here is an example output of compressing "testfloat_8_8_128.dat". Also, please note that the dimensions should be represented in slowest-to-fastest order.

$mgard-x -z -i testfloat_8_8_128.dat -c testfloat_8_8_128.dat.mgard -r 1 -t s -n 3 128 8 8 -m rel -e 1e-3 -s 0 -l 0 -d serial -v
[info] mode: compression
[info] orig

[2022-08-26 08:20] wangwu1991 commented on #191
After compiling with the updated code and using the “mgard-x -z -i testfloat_8_8_128.dat -c testfloat_8_8_128.dat.mgard -r 1 -t s -n 3 128 8 8 -m rel -e 1e-3 -s 0 -l 0 -d serial -v”, the output are that
./mgard-x -z -i testfloat_8_8_128.dat -c testfloat_8_8_128.dat.mgard -r 1 -t s -n 3 128 8 8 -m rel -e 1e-3 -s 0 -l 0 -d serial -v
[info] mode: compression
[info] original data: testfloat_8_8_128.da

[2022-08-26 08:27] wangwu1991 commented on #191
When I compiled the same code on my another computer with Ubuntu 18.04 and gcc (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04), the program can be executed smoothly and the results are right (exactly the same with yours). Except for the system and the compiler, everything else is basically the same. I'm very eager to know why.

[2022-08-26 08:33] wangwu1991 commented on #191
Since I would like to use this algorithm to incorporate into my own programs, a simplified version (such as without protobuf) will be expected to be provided, so the promotion of the algorithm will be more easily.

[2022-09-15 20:50] shaomeng opened #207 "Guidance for evaluation"
Hi MGard developers,

I'm planning to run some experiments to evaluate 1) the rate-distortion and 2) the CPU performance of MGard. Could you provide guidance on
1. which version of MGard should I compile and test on? I see the latest release is almost one year old; I imagine that there are many improvements since then?
2. Does MGard support parallelization on CPUs? I did notice GPU accelerated com

[2022-10-07 20:10] lindstro commented on #189
@ben-e-whitney Any progress on this issue?